{% sw_extends '@Storefront/storefront/base.html.twig' %}
{#<!-- CUSTOM STYLES -->#}
{% set config_params = page.header.extensions['ScopCH'] %}

{% block base_head %}
    <style>
        .custom-header-wrapper{
            background-color:{{ config_params.background }};
            min-height:{{ config_params.height }};
        }
        .custom-header{
            font-size: {{ config_params.textFontSize}};
        }

        /*IMG BOX*/
        .custom-header .img-wrap{
            transform:translateY(17%);
        }

        /*IMG (Icon Before text)*/
        .custom-header .img-wrap .sch-icon{
            display: block;
            width:100%;
            height:100%;
        }

        /*Elements Box*/
        .custom-header-wrapper .custom-header .element{
            padding-top: {{ config_params.paddingTop }};
            padding-right: {{ config_params.paddingRight }};
            padding-bottom: {{ config_params.paddingBottom }};
            padding-left: {{ config_params.paddingLeft }};
        }

        /* All Texts*/
        .custom-header-warpper .custom-header .element .scop-header-link{
            color: {{ config_params.textColor }};
            transition: .3s;
            font-size: {{ config_params.textFontSize }};
        }

        /*Text Hover*/
        a.scop-header-link:hover{
            color: {{ config_params.hover }} !important;
            text-decoration: none;
        }

        /*Mobile version*/
        @media screen and (max-width: 768px){
            .custom-header-wrapper .custom-header .element{
                padding-top: {{ config_params.paddingTopMobile }};
                padding-right: {{ config_params.paddingRightMobile }};
                padding-bottom: {{ config_params.paddingBottomMobile }};
                padding-left: {{ config_params.paddingLeftMobile }};
            }
            .custom-header-warpper .custom-header .element .scop-header-link{
                font-size: {{ config_params.textFontSizeMobile }};
            }
            .scop-text-left{
                display: {% if config_params.displayTextLeft == false %}none {% else %} block {% endif %};
            }
            .scop-text-middle{
                display: {% if config_params.displayTextMiddle == false %}none {% else %} block {% endif %};
            }
            .scop-text-right{
                display: {% if config_params.displayTextRight == false %}none {% else %} block {% endif %};
            }
        }
    </style>
{{ parent() }}
{% endblock %}

{% block base_header %}
    {% if config_params.left or config_params.middle or config_params.right %}

    <div class="custom-header-wrapper {% if config_params.mobileBreakpointDisplay %}hide{% endif %} " style="">
        <div class="container">
                        <!--WRAPPER-->
                        <div class="custom-header " style="">

                                <!--LEFT TEXT-->
                            <div class="element scop-text-left">
                                <span class="icon icon-{{ config_params.iconLeft }}">
                                    {% if config_params.iconLeft != null %}
                                        <div class="img-wrap" style="overflow: hidden;">
                                            {% if config_params.imgArray[0] != null %}
                                                <img src="{{ config_params.imgArray[0] }}" alt="ICON" class="sch-icon">
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </span>
                                <span>
                                    <a class="scop-header-link " href="{{ config_params.textLinkLeft }}" target="_blank"> {{  config_params.left }} </a>
                                </span>
                            </div>

                            {#    Middle TEXT #}
                            <div class="element scop-text-middle" style="">
                                <span class="icon icon-{{ config_params.iconLeft }}">

                                     <div class="img-wrap" style="overflow: hidden;">
                                         {% if config_params.imgArray[1] != null %}
                                             <img src="{{ config_params.imgArray[1] }}" alt="ICON" class="sch-icon">
                                         {% endif %}
                                     </div>
                                </span>
                                <span>
                                    <a class="scop-header-link " href="{{ config_params.textLinkMiddle }}" target="_blank"> {{  config_params.middle }} </a>
                                </span>
                            </div>

                            {#    Right TEXT #}
                            <div class="element scop-text-right" style="">
                                <span class="icon icon-{{ config_params.iconLeft }}">
                                    <div class="img-wrap" style="overflow: hidden;">
                                        {% if config_params.imgArray[2] != null %}
                                            <img src="{{ config_params.imgArray[2] }}" alt="ICON" class="sch-icon">
                                        {% endif %}
                                    </div>
                                </span>
                                <span>
                                    <a class="scop-header-link " href="{{ config_params.textLinkRight }}" target="_blank"> {{  config_params.right }} </a>
                                </span>
                            </div>
                        </div>
        </div>
    </div>
    {% endif %}
    {{ parent() }}
{% endblock %}
