{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% set config_params = page.header.extensions['ScopCH'] %}

{# Custom styles #}
{% block base_head %}
    <style>
        .custom-header-wrapper{
            background-color:{{ config_params.background }};
            min-height:{{ config_params.height }};
        }

        .custom-header{
            font-size: {{ config_params.textFontSize}};
        }

        /*Elements Box*/
        .custom-header-wrapper .custom-header .element{
            padding-top: {{ config_params.paddingTop }};
            padding-right: {{ config_params.paddingRight }};
            padding-bottom: {{ config_params.paddingBottom }};
            padding-left: {{ config_params.paddingLeft }};
        }

        /* All Texts */
        .custom-header-wrapper .custom-header .element .scop-header-link{
            color: {{ config_params.textColor }};
            font-size: {{ config_params.textFontSize }};
        }

        /* Text Hover */
        a.scop-header-link:hover{
            color: {{ config_params.hover }} ;
        }

        /* Mobile version */
        @media screen and (max-width: 768px){
            .custom-header-wrapper .custom-header .element{
                padding-top: {{ config_params.paddingTopMobile }};
                padding-right: {{ config_params.paddingRightMobile }};
                padding-bottom: {{ config_params.paddingBottomMobile }};
                padding-left: {{ config_params.paddingLeftMobile }};
            }
            .custom-header-warpper .custom-header .element .scop-header-link{
                font-size: {{ config_params.textFontSizeMobile }};
            }
            .scop-text-left{
                display: {% if config_params.displayTextLeft == false %}none {% else %} block {% endif %};
            }
            .scop-text-middle{
                display: {% if config_params.displayTextMiddle == false %}none {% else %} block {% endif %};
            }
            .scop-text-right{
                display: {% if config_params.displayTextRight == false %}none {% else %} block {% endif %};
            }
        }
    </style>
    {{ parent() }}
{% endblock %}

{% block base_header %}
    {% if config_params.left or config_params.middle or config_params.right %}

        <div class="custom-header-wrapper {% if config_params.mobileBreakpointDisplay %}hide{% endif %} ">

            {# Wrapping the content of the header in container #}

            <div class="container">
                <div class="custom-header ">
                    <!--LEFT TEXT-->
                    <div class="element scop-text-left">
                                <span class="icon">
                                    {% if config_params.iconLeft != null %}
                                        <div class="img-wrap" >
                                            {% if config_params.imgArray[0] != null %}
                                                <img src="{{ config_params.imgArray[0] }}" alt="ICON" class="sch-icon">
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </span>
                        <span>
                                    <a class="scop-header-link " href="{{ config_params.textLinkLeft }}" target="_blank"> {{  config_params.left }} </a>
                                </span>
                    </div>

                    {#    Middle TEXT #}
                    <div class="element scop-text-middle">
                                <span class="icon">
                                     <div class="img-wrap">
                                         {% if config_params.imgArray[1] != null %}
                                             <img src="{{ config_params.imgArray[1] }}" alt="ICON" class="sch-icon">
                                         {% endif %}
                                     </div>
                                </span>
                        <span>
                                    <a class="scop-header-link " href="{{ config_params.textLinkMiddle }}" target="_blank"> {{  config_params.middle }} </a>
                                </span>
                    </div>

                    {#    Right TEXT #}
                    <div class="element scop-text-right">
                                <span class="icon">
                                    <div class="img-wrap">
                                        {% if config_params.imgArray[2] != null %}
                                            <img src="{{ config_params.imgArray[2] }}" alt="ICON" class="sch-icon">
                                        {% endif %}
                                    </div>
                                </span>
                        <span>
                                    <a class="scop-header-link " href="{{ config_params.textLinkRight }}" target="_blank"> {{  config_params.right }} </a>
                                </span>
                    </div>

                </div>
            </div>

        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}
