{% sw_extends '@Storefront/storefront/layout/header/top-bar.html.twig' %}

{% block layout_header_top_bar %}

    {% set config_params = page.header.extensions['ScopCH']  %}

    {% if pack is not defined %}
        {% set pack = 'default' %}
    {% endif %}

    {{ dump(config_params) }}
    <div class="custom-header {% if config_params.mobileBreakpointDisplay  %} show {% else %} no {% endif %} " style="
        height:{{ config_params.height ~ 'px' }};
        background-color:{{config_params.background }};
        font-size: {{ config_params.textFontSize ~ 'px' }};
        ">
        {#    LEFT TEXT #}
        <div class="element">
            <span class="icon icon-{{ config_params.iconLeft }}">
            {{ source('@Storefront/../app/storefront/dist/assets/icon/'~ pack ~'/'~ config_params.iconLeft ~'.svg') }}
            </span>
            <span> {{  config_params.left }}    </span>
        </div>

        {#    Middle TEXT #}
        <div class="element">
            <span class="icon icon-{{ config_params.iconLeft }}">
            {{ source('@Storefront/../app/storefront/dist/assets/icon/'~ pack ~'/'~ config_params.iconMiddle ~'.svg') }}
            </span>
            <span> {{  config_params.left }}    </span>
        </div>

        {#    Right TEXT #}
        <div class="element">
            <span class="icon icon-{{ config_params.iconLeft }}">
            {{ source('@Storefront/../app/storefront/dist/assets/icon/'~ pack ~'/'~ config_params.iconRight ~'.svg') }}
            </span>
            <span> {{  config_params.left }}    </span>
        </div>

    </div>

    {{ parent() }}
{% endblock %}
